@model GestionDeNotas.Models.Profesor

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Desea eliminar este elemento?</h3>
<div>
    <h4>Profesor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDocente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDocente)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger"> <i class="fa-solid fa-trash-can"></i> Eliminar</button>|
            <a href="@Url.Action("Index")"><i class="fa fa-edit"></i> Volver</a>
        </div>
    }
</div>
