@model IEnumerable<GestionDeNotas.Models.Curso>

@{
    ViewBag.Title = "Inscribir";
    Layout = "~/Views/Shared/_AlumnoLayout.cshtml";
}

<h2>Inscribir</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarnetDocente)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarnetDocente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoMateria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombrDocente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarnetDocente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoMateria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrDocente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                <form method="post" action="@Url.Action("Inscribir","Estudiante")">
                    @Html.Hidden("codigoCurso", item.CodigoCurso)
                    <button type="submit" class="btn btn-primary">Inscribir</button>
                </form>
            </td>
        </tr>
    }

</table>


