@model GestionDeNotas.Models.Curso

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarnetDocente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarnetDocente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoMateria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoMateria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { carnet = Model.CodigoCurso })" class="btn btn-primary">
        <i class="fa fa-edit"></i> Editar
    </a> |
    <a href="@Url.Action("Index")" class="btn btn-danger">
        <i class="fa fa-edit"></i> Volver
    </a>
</p>
